iframe {
  width: 853;
  height: 480px;
  border: 1px #999 solid;
}
textarea {
  width: 400px;
  height: 80px;
  background-color: #fff;
  resize: none;
}
button {
  width: 100px;
  height: 30px;
  background-color: #282828;
  border: none;
  color: #fff;
  font-family: arial;
  font-weight: 400;
  cursor: pointer;
}
